html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
address,
code,
del,
em,
img,
ins,
strike,
strong,
sub,
sup,
var,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
canvas,
footer,
header,
menu,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.dashBoardCont {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.dashBoardCont .dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85vw;
  height: 100%;
  padding: 20px;
  color: rgb(32, 32, 32);
}
.dashBoardCont .dashboard .title {
  font-size: 5rem;
  color: rgb(32, 32, 32);
  color: white;
  text-align: center;
}
.dashBoardCont .dashboard .imgCont {
  text-align: center;
}
.dashBoardCont .dashboard .imgCont .dashBoardImg {
  height: 60vh;
}
.dashBoardCont .dashboard .sections {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.dashBoardCont .dashboard .sections .player-profile {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  margin: 0 20px;
  width: 6rem;
}
.dashBoardCont .dashboard .sections .player-profile h2 {
  margin-top: 0;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: rgb(32, 32, 32);
}
.dashBoardCont .dashboard .sections .player-profile .profile-info p {
  color: rgb(32, 32, 32);
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.dashBoardCont .dashboard .sections .player-profile .profile-info p strong {
  color: rgb(32, 32, 32);
}
.dashBoardCont .dashboard .sections .game-menu {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  margin: 0 20px;
  width: 6rem;
}
.dashBoardCont .dashboard .sections .game-menu h2 {
  margin-top: 0;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: rgb(32, 32, 32);
}
.dashBoardCont .dashboard .sections .game-menu ul {
  list-style-type: none;
  padding: 0;
}
.dashBoardCont .dashboard .sections .game-menu ul li {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.dashBoardCont .dashboard .sections .game-menu ul li a {
  text-decoration: none;
  color: rgb(32, 32, 32);
}
.dashBoardCont .dashboard .sections .game-menu ul li a:hover {
  color: #666;
  text-decoration: underline;
}
.dashBoardCont .dashboard .sections .settings-menu {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  margin: 0 20px;
  width: 6rem;
}
.dashBoardCont .dashboard .sections .settings-menu h2 {
  margin-top: 0;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: rgb(32, 32, 32);
}
.dashBoardCont .dashboard .sections .settings-menu ul {
  list-style-type: none;
  padding: 0;
}
.dashBoardCont .dashboard .sections .settings-menu ul li {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.dashBoardCont .dashboard .sections .settings-menu ul li a {
  text-decoration: none;
  color: rgb(32, 32, 32);
}
.dashBoardCont .dashboard .sections .settings-menu ul li a:hover {
  color: #666;
  text-decoration: underline;
}

.menu {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 46px;
  width: 46px;
}
.menu:hover .menu-circle {
  transform: scale(1.5);
}

.menu-link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1002;
}

.menu-icon {
  position: absolute;
  width: 20px;
  height: 14px;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 1px;
}

.menu-line {
  background-color: #333;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  transition: all 0.25s ease-in-out;
}

.menu-line-2 {
  top: 0;
  bottom: 0;
  margin: auto;
}

.menu-line-3 {
  bottom: 0;
}

.menu.open .menu-line-1 {
  transform: translateY(7px) translateY(-50%) rotate(-45deg);
}
.menu.open .menu-line-2 {
  opacity: 0;
}
.menu.open .menu-line-3 {
  transform: translateY(-7px) translateY(50%) rotate(45deg);
}
.menu.open .menu-circle {
  transform: scale(60);
}

.menu-circle {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  transform: scale(1);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.menu-overlay {
  background-color: #fff;
  color: #333;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Ensure the overlay is on top of other content */
.menu-overlay.open {
  opacity: 1;
  visibility: visible;
}

.overlay-info {
  color: #333;
  display: flex;
  flex-direction: column;
}

.menuBtn {
  font-size: 3rem;
  margin: 2rem;
  background-color: transparent !important;
  border: none;
  text-decoration: none;
  color: #111825;
}

.nextLevel {
  position: absolute;
  font-size: 4rem;
}

.gameOverCont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}
.gameOverCont .gameOverTitle {
  font-size: 5rem;
}
.gameOverCont .gameOverImg {
  height: 60vh;
}
.gameOverCont .gameOverBtnCont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.gameOverCont .gameOverBtnCont .gameOverBtn {
  font-size: 2rem;
  background-color: #f0f0f0;
  color: rgb(32, 32, 32);
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: #fff;
}
.login-container h2 {
  font-size: 5rem;
  position: absolute;
  top: 2.25rem;
}
.login-container form {
  width: 800px;
  padding: 40px;
  border-radius: 8px;
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.login-container form .form-group {
  margin-bottom: 20px;
}
.login-container form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.6rem;
}
.login-container form .form-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #444;
  color: #fff;
}
.login-container form .form-group input:focus {
  outline: none;
  box-shadow: 0 0 4px #007bff;
}
.login-container form .submit-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.login-container form .submit-button:hover {
  background-color: #0056b3;
}
.login-container form .registerLink {
  text-align: center;
  margin-top: 2rem;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}
.register-container h2 {
  position: absolute;
  top: 2.25rem;
  font-size: 5rem;
}
.register-container form {
  width: 800px;
  padding: 40px;
  border-radius: 8px;
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.register-container form .form-group {
  margin-bottom: 20px;
}
.register-container form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.6rem;
}
.register-container form .form-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #444;
  color: #fff;
}
.register-container form .form-group input:focus {
  outline: none;
  box-shadow: 0 0 4px #007bff;
}
.register-container form .submit-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.register-container form .submit-button:hover {
  background-color: #0056b3;
}
.register-container form .loginLink {
  text-align: center;
  margin-top: 2rem;
}

.leaderboard-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: #fff;
}
.leaderboard-container h2 {
  font-size: 5rem;
  position: absolute;
  top: 2.25rem;
}
.leaderboard-container .backBtn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #1e1e1e;
  color: white;
  padding: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.leaderboard-container .backBtn IoIosArrowBack {
  color: white;
}
.leaderboard-container table {
  width: 1200px;
  border-collapse: collapse;
  background-color: #1e1e1e; /* Darker background color for table */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.leaderboard-container table th, .leaderboard-container table td {
  padding: 12px;
  text-align: left;
  font-size: 2.5rem;
  border-bottom: 1px solid #333; /* Darker border color */
}
.leaderboard-container table th {
  background-color: #007bff; /* Blue color for header */
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.leaderboard-container table .usernameTitle {
  text-align: left;
}
.leaderboard-container table td:nth-child(2), .leaderboard-container table td:nth-child(3) {
  text-align: center;
}
.leaderboard-container table tbody tr:nth-child(even) {
  background-color: #333; /* Darker background for even rows */
}
.leaderboard-container table tbody tr:hover {
  background-color: #444; /* Darker background on hover */
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-top: 20px;
}
.controls-container h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.controls-container .control-info {
  text-align: center;
}
.controls-container .control-info p {
  margin: 10px 0;
  font-size: 1.2rem;
}
.controls-container .control-info strong {
  font-weight: bold;
}

.victoryCont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}
.victoryCont .victoryTitle {
  font-size: 5rem;
}
.victoryCont .victoryImg {
  height: 60vh;
}
.victoryCont .victoryBtnCont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.victoryCont .victoryBtnCont .victoryBtn {
  font-size: 2rem;
  background-color: #f0f0f0;
  color: rgb(32, 32, 32);
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(216, 216, 216);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001528;
  background: linear-gradient(180deg, #025962 0%, rgba(0, 21, 40, 0) 100%);
  min-height: 100vh;
  background-color: #001528;
  color: rgb(216, 216, 216);
}

.homeLogo {
  height: 620px;
  width: 650px;
  margin: 0 auto;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0);
}

.btn {
  background-color: #025962;
  width: 10rem;
  height: 3rem;
  flex-shrink: 0;
  margin: 0 auto;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logout-btn {
  background-color: #025962;
  width: 10rem;
  height: 3rem;
  flex-shrink: 0;
  margin: 0 auto;
  position: fixed;
  top: 5%;
  left: 95%;
  transform: translate(-50%, -50%);
}

.btn-text {
  position: fixed;
  top: 50%;
  left: 50%;
  color: rgb(216, 216, 216);
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=styles.css.map */