.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-top: 20px;

  .backBtn {
      position: absolute;
      top: 1rem;
      left: 1rem;
      background-color: #1e1e1e;
      color: white;
      padding: 1rem;
      font-size: 1.25rem;
      text-decoration: none;
      border-radius: 0.25rem;
      display: flex;
      flex-direction: row;
      align-items: center;
  
      IoIosArrowBack {
        color: white;
      }
    }
  
    h2 {
      font-size: 2.5rem;
      margin-bottom: 10px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  
    .control-info {
      text-align: center;
  
      p {
        margin: 10px 0;
        font-size: 1.2rem;
      }
  
      strong {
        font-weight: bold;
      }
    }
  }
  