$box-padding: 20px;
$box-border-radius: 5px;
$box-margin: 20px;

.title{
    position: fixed;
    font-size: 64px;
    top: 25%;
    left: 50%;
    color: rgb(32, 32, 32);
    transform: translate(-50%, -50%);
}

.dashboard {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    padding: $box-padding;
    color: rgb(32, 32, 32);
}

.player-profile,
.game-menu,
.settings-menu {
    flex: 1;
    background-color: #f0f0f0;
    padding: $box-padding;
    border-radius: $box-border-radius;
    margin: 0 $box-margin;
}

.player-profile h2,
.game-menu h2,
.settings-menu h2 {
    margin-top: 0;
    font-size: 32px;
    margin-bottom: 1.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: rgb(32, 32, 32);
}

a:hover {
    color: #666;
    text-decoration: underline;
}