$box-padding: 20px;
$box-border-radius: 5px;
$box-margin: 20px;

.dashboard {
    display: flex;
    justify-content: space-between;
    padding: $box-padding;
    color: white;
}

.player-profile,
.game-menu,
.settings-menu {
    flex: 1;
    background-color: #f0f0f0;
    padding: $box-padding;
    border-radius: $box-border-radius;
    margin: 0 $box-margin; // Apply margin to all boxes
}

.player-profile h2,
.game-menu h2,
.settings-menu h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #666;
    text-decoration: underline;
}